# Import libraries

In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import folium
import json
import seaborn as sns

# Read data

In [26]:
covid_df = pd.read_csv('../data/final_data.csv')
covid_df.head()

,Country,Date,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",TotalTests,Population,Continent,1 Caseevery X ppl,lat,lon
0,Afghanistan,2023-03-02,209359,19,7896.0,0.0,191166.0,10,10297.0,45,1201475.0,40754388,Asia,195,33.768006,66.238514
1,Afghanistan,2023-03-03,209362,3,7896.0,0.0,191170.0,4,10296.0,45,1201744.0,40754388,Asia,195,33.768006,66.238514
2,Afghanistan,2023-03-04,209370,4,7896.0,0.0,191181.0,7,10293.0,45,1202018.0,40754388,Asia,195,33.768006,66.238514
3,Afghanistan,2023-03-05,209390,20,7896.0,0.0,191212.0,31,10282.0,45,1202290.0,40754388,Asia,195,33.768006,66.238514
4,Afghanistan,2023-03-06,209394,24,7896.0,0.0,191233.0,52,10265.0,45,1202290.0,40754388,Asia,195,33.768006,66.238514

# Analytics for data visualization

### **Question 8: Draw graph showing the number of new cases of all countries in 6 continents in 1 week?**
- There are many steps to answer this question:
    - Group by continent and day, then calculate the total number of new cases per day
    - Draw a graph of 6 lines each corresponding to each continent then comment

#### **Step 1. Group by continent and day, then calculate the total number of new cases per day.**

In [27]:
covid_df = covid_df.loc[(covid_df['Date'] >= '2023-03-03') & (covid_df['Date'] <= '2023-03-10')]
covid_df.head(10)

,Country,Date,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",TotalTests,Population,Continent,1 Caseevery X ppl,lat,lon
1,Afghanistan,2023-03-03,209362,3,7896.0,0.0,191170.0,4,10296.0,45,1201744.0,40754388,Asia,195,33.768006,66.238514
2,Afghanistan,2023-03-04,209370,4,7896.0,0.0,191181.0,7,10293.0,45,1202018.0,40754388,Asia,195,33.768006,66.238514
3,Afghanistan,2023-03-05,209390,20,7896.0,0.0,191212.0,31,10282.0,45,1202290.0,40754388,Asia,195,33.768006,66.238514
4,Afghanistan,2023-03-06,209394,24,7896.0,0.0,191233.0,52,10265.0,45,1202290.0,40754388,Asia,195,33.768006,66.238514
5,Afghanistan,2023-03-07,209415,21,7896.0,0.0,191243.0,10,10276.0,45,1202868.0,40754388,Asia,195,33.768006,66.238514
6,Afghanistan,2023-03-08,209441,26,7896.0,0.0,191262.0,19,10283.0,45,1203414.0,40754388,Asia,195,33.768006,66.238514
7,Afghanistan,2023-03-09,209451,10,7896.0,0.0,191272.0,10,10283.0,45,1203807.0,40754388,Asia,195,33.768006,66.238514
8,Afghanistan,2023-03-10,209484,2,7896.0,0.0,191284.0,4,10304.0,45,1204573.0,40754388,Asia,195,33.768006,66.238514
10,Albania,2023-03-03,334427,19,3597.0,1.0,329169.0,17,1661.0,0,1941032.0,2866374,Europe,9,41.000028,19.999962
11,Albania,2023-03-04,334427,0,3597.0,0.0,329169.0,0,1661.0,0,1941032.0,2866374,Europe,9,41.000028,19.999962

In [28]:
covid_df['Date'] = pd.to_datetime(covid_df['Date'])

continent_weekly = covid_df.groupby(['Continent', 'Date']).sum()
continent_weekly.head(10)

                      TotalCases  NewCases  TotalDeaths  NewDeaths  \
Continent Date
Africa    2023-03-03    12136367       525     256657.0        0.0
          2023-03-04    12136445        78     256657.0        0.0
          2023-03-05    12136612       167     256660.0        3.0
          2023-03-06    12136612       167     256660.0        3.0
          2023-03-07    12137615      1003     256660.0        0.0
          2023-03-08    12138218       603     256670.0       10.0
          2023-03-09    12139210       992     256677.0        7.0
          2023-03-10    12140139       478     256677.0        0.0
Asia      2023-03-03   213908826     38724    1536466.0      190.0
          2023-03-04   213944184     35043    1536653.0      184.0

                      TotalRecovered  NewRecovered  ActiveCases  \
Continent Date
Africa    2023-03-03      11526508.0            85     353202.0
          2023-03-04      11526625.0           117     353163.0
          2023-03-05      11526792.0           167     353160.0
          2023-03-06      11526792.0           167     353160.0
          2023-03-07      11526869.0            77     354086.0
          2023-03-08      11526972.0           106     354576.0
          2023-03-09      11527401.0           433     355132.0
          2023-03-10      11527481.0            55     355981.0
Asia      2023-03-03     198582950.0         29603   13789410.0
          2023-03-04     198636650.0         53556   13770881.0

                      Serious,Critical    TotalTests  Population          lat  \
Continent Date
Africa    2023-03-03               515  1.104832e+08  1403099946   155.189350
          2023-03-04               515  1.104857e+08  1403099946   155.189350
          2023-03-05               515  1.104950e+08  1403099946   155.189350
          2023-03-06               515  1.104950e+08  1403099946   155.189350
          2023-03-07               515  1.104969e+08  1403099946   155.189350
          2023-03-08               515  1.105006e+08  1403099946   155.189350
          2023-03-09               515  1.105021e+08  1403099946   155.189350
          2023-03-10               515  1.105088e+08  1403099946   155.189350
Asia      2023-03-03              9141  2.373281e+09  4708914936  1229.017049
          2023-03-04              9143  2.373649e+09  4708914936  1229.017049

                              lon
Continent Date
Africa    2023-03-03   866.663450
          2023-03-04   866.663450
          2023-03-05   866.663450
          2023-03-06   866.663450
          2023-03-07   866.663450
          2023-03-08   866.663450
          2023-03-09   866.663450
          2023-03-10   866.663450
Asia      2023-03-03  3378.872733
          2023-03-04  3378.872733

In [29]:
#get continent, date, new cases columns
continent_weekly = continent_weekly['NewCases']
continent_weekly.head(20)

Continent          Date
Africa             2023-03-03      525
                   2023-03-04       78
                   2023-03-05      167
                   2023-03-06      167
                   2023-03-07     1003
                   2023-03-08      603
                   2023-03-09      992
                   2023-03-10      478
Asia               2023-03-03    38724
                   2023-03-04    35043
                   2023-03-05    31102
                   2023-03-06    31466
                   2023-03-07    17740
                   2023-03-08    38021
                   2023-03-09    41227
                   2023-03-10    31436
Australia/Oceania  2023-03-03     2739
                   2023-03-04        0
                   2023-03-05        0
                   2023-03-06     1634
Name: NewCases, dtype: int64

#### **Step 2. Draw a graph of 6 lines each corresponding to each continent then comment.**

In [31]:
# Tạo figure và axes
fig, ax = plt.subplots(figsize=(12,6))

# Tạo một list chứa thông tin các châu lục và màu sắc tương ứng
continents = ['Asia', 'Europe', 'North America', 'South America', 'Africa', 'Oceania']
colors = ['red', 'blue', 'green', 'orange', 'purple', 'brown']

# Lặp qua từng châu lục và vẽ line plot
for i, continent in enumerate(continents):
    # Lọc ra các bản ghi có châu lục tương ứng
    continent_data = covid_df[covid_df['Continent'] == continent]
    # Lấy các giá trị NewCases của tuần gần đây nhất (để vẽ line cho biểu đồ)
    week_data = continent_data.groupby(['Country', 'Date'])['NewCases'].sum().reset_index().groupby('Date').sum().tail(7)
    # Tạo line plot với màu sắc tương ứng
    ax.plot(week_data['Date'], week_data['NewCases'], label=continent, color=colors[i])

# Thêm title, x-label, y-label, và legend
ax.set_title('New Cases by Continent for the Past Week')
ax.set_xlabel('Date')
ax.set_ylabel('New Cases')
ax.legend()

plt.show()

ValueError: Could not interpret value `NewCases` for parameter `y`

- **Comment on the results.**
    - Biểu đồ tròn thể hiện tỉ lệ các quốc gia không có ca nhiễm mới trong 7 ngày gần nhất và nó chiếm đến 54,1% tổng số quốc gia. Điều này cho thấy rằng có rất nhiều quốc gia đã không có ca nhiễm mới trong 7 ngày gần nhất. 
    - Điều này cho thấy rằng COVID-19 đã được kiểm soát tốt ở rất nhiều quốc gia. Và hiện tại việc phòng ngừa và được tiêm vaccine là điều cần thiết để ngăn chặn sự lan truyền của COVID-19 và các nước đã làm rất tốt vấn đề này